{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-hcp.html" %}


  <div class="govuk-width-container {{ containerClasses }}">



    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">

          



      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check text message</h1>

        <div class="govuk-width-container">
        
             
        
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                     From
                    </dt>
                    <dd class="govuk-summary-list__value">
                    DWP
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    
                    </dd>
                  </div>


               

               <!--   <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Template
                    </dt>
                    <dd class="govuk-summary-list__value">

                      {% if  data['text'] === 'questionnaire' %}  Questionnaire returned   {% endif %} 

                      {% if  data['text'] === 'booking-tresco' %}   Assessment booked   {% endif %} 
            
                      {% if  data['text'] === 'booking-summerhill' %}   Assessment booked   {% endif %} 
            
                      {% if  data['text'] === 'booking-phone' %}   Assessment booked   {% endif %} 
            
                      {% if  data['text'] === 'reminder' %}   Assessment reminder   {% endif %} 
                    
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="select-template">
                        Change<span class="govuk-visually-hidden"> template</span>
                      </a>
                    </dd>
                  </div> -->

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Mobile number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p class="govuk-body"> </p>
                      {{ data['mobile-number'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="enter-fields">
                        Change<span class="govuk-visually-hidden"> mobile number</span>
                      </a>
                    </dd>
                  </div>


                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Text message template
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Questionnaire returned
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    
                    </dd>
                  </div>
                 
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                     Message
                    </dt>
                    <dd class="govuk-summary-list__value">


                     DWP Health Assessment: We have received your ESA health questionnaire and are working on your claim. You do not need to do anything.  

                    
                     
                    </dd>
                    <dd class="govuk-summary-list__actions">
                     <!-- <a class="govuk-link" href="enter-fields">
                        Change<span class="govuk-visually-hidden"> message</span>
                      </a>--> 
                    </dd>
                  </div>
                 
                </dl>
        
               
           

             
               
              </div>


              <div class="govuk-button-group">
                <form action="message-sent" method="post" novalidate>
        
                  <input type="hidden" name="answers-checked" value="true">
        
                  <button class="govuk-button" data-module="govuk-button">
                    Send text message
                  </button>
                  
                  <a class="govuk-link" href="referral" style="padding-top: 6px;">Return to referral</a>
               
        
                </form>

               
</div>


     
              </div>
            </div>
          </main>
        </div>
              
             
</div>

             <div class="govuk-grid-column-one-third">
            


            </div>
        </div>

    </main>
  </div>
{% endblock %}
