{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}


  <div class="govuk-width-container {{ containerClasses }}">



    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">

          



      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check your message before sending</h1>

        <div class="govuk-width-container">
        
             
        
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                     From
                    </dt>
                    <dd class="govuk-summary-list__value">
                    DWP
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Template
                    </dt>
                    <dd class="govuk-summary-list__value">

                      {% if  data['text'] === 'questionnaire' %}  Questionnaire returned   {% endif %} 

                      {% if  data['text'] === 'booking-tresco' %}   Assessment booked   {% endif %} 
            
                      {% if  data['text'] === 'booking-summerhill' %}   Assessment booked   {% endif %} 
            
                      {% if  data['text'] === 'booking-phone' %}   Assessment booked   {% endif %} 
            
                      {% if  data['text'] === 'reminder' %}   Assessment reminder   {% endif %} 
                    
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="select-template">
                        Change<span class="govuk-visually-hidden"> template</span>
                      </a>
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Mobile number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p class="govuk-body"> </p>
                      {{ data['mobile-number'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="enter-fields">
                        Change<span class="govuk-visually-hidden"> mobile number</span>
                      </a>
                    </dd>
                  </div>
                 
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                     Message
                    </dt>
                    <dd class="govuk-summary-list__value">


                      {% if  data['text'] === 'questionnaire' %} DWP Health Assessment: We have received your ESA health questionnaire and are working on your claim. You do not need to do anything.   {% endif %} 

                      {% if  data['text'] === 'booking-tresco' %}  DWP Health Assessment: Hello {{ data['text-message-name'] }}. You have an appointment booked at Tresco House Assessment Centre, NW1 6UH on {{ data['text-message-day'] }} {{ data['text-message-month'] | toMonth }} {{ data['text-message-year'] }} at {{ data['text-message-time'] }}. Please call 0800 015 2561 if you cannot attend. Thank you. {{ data['text-message-cm-name'] }}   {% endif %} 
            
                      {% if  data['text'] === 'booking-summerhill' %} DWP Health Assessment: Hello {{ data['text-message-name'] }}. You have an appointment booked at DWP Summerhill Assessment Centre, B1 3RB on {{ data['text-message-day'] }} {{ data['text-message-month'] | toMonth }} {{ data['text-message-year'] }}  at {{ data['text-message-time'] }}. Please call us on 0800 015 2561 if you cannot attend. Thank you. {{ data['text-message-cm-name'] }}  {% endif %} 
            
                      {% if  data['text'] === 'booking-phone' %}  DWP Health Assessment: Hello {{ data['text-message-name'] }}. You have a telephone appointment booked on {{ data['text-message-day'] }} {{ data['text-message-month'] | toMonth }} {{ data['text-message-year'] }}  at {{ data['text-message-time'] }}. Please call 0800 182 2012 if you cannot attend. Thank you. {{ data['text-message-cm-name'] }}  {% endif %} 
            
                      {% if  data['text'] === 'reminder' %}  Assessment reminder text goes here  {% endif %} 


                     
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="enter-fields">
                        Change<span class="govuk-visually-hidden"> message</span>
                      </a>
                    </dd>
                  </div>
                 
                </dl>
        
               
              <p> Please check all details before sending. It cannot be undone.</p> 
               
                <form action="message-sent" method="post" novalidate>
        
                  <input type="hidden" name="answers-checked" value="true">
        
                  <button class="govuk-button" data-module="govuk-button">
                   Send now
                  </button>
        
                </form>
       <p>  <a href="referral">Cancel</a> </p>
              </div>
            </div>
          </main>
        </div>
              
             
</div>

             <div class="govuk-grid-column-one-third">
            


            </div>
        </div>

    </main>
  </div>
{% endblock %}
