{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-hcp.html" %}


  <div class="govuk-width-container {{ containerClasses }}">

    <a href="/version-0-1/select-template" class="govuk-back-link">Back</a>


    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">      
      <div class="govuk-grid-column-two-thirds">

        {% if errorlist %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorlist
        }) }}

        {% endif %}


        <h1 class="govuk-heading-l">Complete fields</h1>
        
        <form action="#" method="post" class="form">
          {{ 
            govukInput({
              label: {
                text: "Mobile number",
                classes: "govuk-label--m"
              },
              id: "mobile-number",
              name: "mobile-number",
              errorMessage: { 
                text: error['mobile-number'].text
              } if error['mobile-number'],
              value: data['mobile-number'],
              classes: 'govuk-input--width-10'
            })
          }}
      
   

          <h2 class="govuk-heading-m">
          {% if  data['text'] === 'questionnaire' %}  Questionnaire returned   {% endif %} 

          {% if  data['text'] === 'booking-tresco' %}   Assessment booked   {% endif %} 

          {% if  data['text'] === 'booking-summerhill' %}   Assessment booked   {% endif %} 

          {% if  data['text'] === 'booking-phone' %}   Assessment booked   {% endif %} 

          {% if  data['text'] === 'reminder' %}   Assessment reminder   {% endif %}  text message
          </h2>


          <div class="govuk-inset-text">
          

             DWP Health Assessment: We have received your ESA health questionnaire and are working on your claim. You do not need to do anything.  

      

          </div>


         
               
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      
      </form>
              
             
</div>

             <div class="govuk-grid-column-one-third">
            


            </div>
        </div>

    </main>
  </div>
{% endblock %}
