{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}


  <div class="govuk-width-container {{ containerClasses }}">


    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">

          



      <div class="govuk-grid-column-two-thirds">
        

                <div class="govuk-panel govuk-panel--confirmation">
                  <h1 class="govuk-panel__title">
                    Message sent
                  </h1>
                  <div class="govuk-panel__body">
                    You have sent the message</strong>
                  </div>
                </div>
        
        
                <h2 class="govuk-heading-m">What next</h2>
        
             <p><a href="https://interaction-log:log-interaction@interaction-log.herokuapp.com/version-0-3-5/referral">Add this as an entry to timeline</a>
            
           </p>
          
           <p><a href="referral">  Go back to the referral</a></p>
              </div>
         
             
</div>

             <div class="govuk-grid-column-one-third">
            


            </div>
        </div>

    </main>
  </div>
{% endblock %}
