{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-booked.html" %}


  <div class="govuk-width-container {{ containerClasses }}">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>


    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>

      <div class="govuk-grid-row">

          



      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Enter mobile number</h1>

        <form action="enter-fields" method="post" class="form">
          
        


        <button class="govuk-button" data-module="govuk-button">Continue</button>
      
      </form>
              
             
</div>

             <div class="govuk-grid-column-one-third">
            


            </div>
        </div>

    </main>
  </div>
{% endblock %}
