{% extends "layout.html" %}
{% set bodyAttributes = { id: "home" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/home-header.html" %}


<div class="govuk-width-container {{ containerClasses }}">

  <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>




  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list">
        <li><a href="#current" class="govuk-link--no-visited-state govuk-link--no-underline">Current</a></li>
       
        <li><a href="#archive" class="govuk-link--no-visited-state govuk-link--no-underline">Archived</a></li>
      </ul>
    </div>


    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l" id="current">
        Current design work
        <span class="govuk-caption-l">Last updated: Oct 2022</span>
      </h1>

     
      <p>
        This prototype represents the current design thinking on Team Royal Blue. <br> <a href="https://dwpdigital.atlassian.net/browse/HTRB-1660" target="_blank">Jira epic</a>

      </p>

      <h3 class="govuk-heading-m"><a href="version-0-1/referral">Version 0.1</a></h3>

     
<!-- 
      <hr>
<br>
      <h1 class="govuk-heading-l" id="archived">
       Archived work
      </h1>
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

    -->

      <!-- 
      <h2 class="govuk-heading-m">Further prototype info</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/proto-info">Prototype examples and docs</a>
        </li>
        
      </ul>-->
    </div>
  </main>
  </div>

{% endblock %}
